<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2023-05-08T08:04:14Z</date>
	<key>WorkspacePath</key>
	<string>../../Runner.xcworkspace</string>
</dict>
</plist>
